d    ${RUN_DIRECTORY}/${NAME}               -        -           -       - -
d    /etc/crio - - - - -
Z    /etc/crio - - - - -
d    ${STATE_DIRECTORY}/origin               -        -           -       - -
d    ${STATE_DIRECTORY}/kubelet              -        -           -       - -
