[Unit]
Description=CRI-O Auto Update Script
Before=crio.service
RequiresMountsFor=/var/lib/containers

[Service]
ExecStart=/usr/local/libexec/crio/crio-wipe/crio-wipe
Type=oneshot

[Install]
WantedBy=multi-user.target
