[Unit]
Description=Shutdown CRI-O containers before shutting down the system
Wants=crio.service
After=crio.service
RequiresMountsFor=/var/lib/containers

[Service]
EnvironmentFile=-/etc/sysconfig/crio
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/crio \
          $CRIO_CONFIG_OPTIONS \
          $CRIO_RUNTIME_OPTIONS \
          $CRIO_STORAGE_OPTIONS \
          $CRIO_NETWORK_OPTIONS \
          $CRIO_METRICS_OPTIONS \
          shutdown

[Install]
WantedBy=multi-user.target
