[Unit]
Description=Shutdown CRI-O containers before shutting down the system
Wants=crio.service
After=crio.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/local/bin/crictl rm -af

[Install]
WantedBy=multi-user.target
