[Unit]
Description=CRI-O Auto Update Script
Before=crio.service
Wants=crio.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/crio
ExecStart=/usr/local/bin/crio \
          $CRIO_CONFIG_OPTIONS \
          $CRIO_RUNTIME_OPTIONS \
          $CRIO_STORAGE_OPTIONS \
          $CRIO_NETWORK_OPTIONS \
          $CRIO_METRICS_OPTIONS \
          wipe

[Install]
WantedBy=multi-user.target
