/.artifacts/
/.vscode
/conmon/conmon
/conmon/conmon.o
/pause/pause
/pause/pause.o
/docs/*.[158]
/docs/*.[158].gz
/_output
/ocid.conf
/test/bin2img/bin2img
/test/copyimg/copyimg
/test/testdata/redis-image
/test/checkseccomp/checkseccomp
*.orig
*.rej
