.artifacts/
conmon/conmon
conmon/conmon.o
pause/pause
pause/pause.o
/docs/*.[158]
/docs/*.[158].gz
ocid.conf
*.orig
*.rej
test/bin2img/bin2img
test/copyimg/copyimg
test/testdata/redis-image
test/checkseccomp/checkseccomp
ocid
ocic
kpod
