/ocid
/ocic
/kpod
conmon/conmon
conmon/conmon.o
pause/pause
pause/pause.o
/docs/*.[158]
/docs/*.[158].gz
vendor/src/github.com/kubernetes-incubator/cri-o
ocid.conf
*.orig
*.rej

# Autotools
Makefile
Makefile.in
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
