*.a
*.cov
*.gcda
*.gcno
*.gcov
*.i
*.la
*.lo
*.o
*.orig
*.pyc
*.rej
*.s
*.service
*.socket
*.swp
.version
git-version.h
*~
.#*
.color_coded
.deps
.dirstamp
.gdb_history
.git
.git-module-status
*.1
.deps
.dirstamp
.gdb_history
.git
.git-module-status
.libs
.lvimrc
.memdump
.sc-start-sc_*
.ycm_extra_conf.py
/aclocal.m4
/autom4te.cache
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/tap-driver.sh
crun
/config.h
/config.h.in
/config.log
/config.status
/configure
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
rpm/crun.spec
stamp-h
stamp-h.in
stamp-h1
tests/init
tests/tests_libcrun_errors
tests/tests_libcrun_utils
pinns
