name: cron
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
env:
  GO_VERSION: '1.21'
jobs:
  release-branch-forward:
    permissions:
      contents: none
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: make release-branch-forward
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          DRY_RUN: false
