name: tag reconciler
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
env:
  GO_VERSION: '1.23'
jobs:
  tag-reconciler:
    permissions:
      actions: write
      contents: write
    if: github.ref == 'refs/heads/main' && github.repository == 'cri-o/cri-o'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: make tag-reconciler
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
