name: verify
on:
  push:
    tags:
      - v*
    branches:
      - master
      - release-*
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v2
        with:
          # must be specified without patch version
          version: v1.35

          # Only show new issues for a pull request.
          only-new-issues: true

  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: lumaxis/shellcheck-problem-matchers@v1
    - run: make shellcheck

  shfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: make shfmt

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: make docs-validation

  vendor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: go-${{ hashFiles('**/go.sum') }}
          restore-keys: go-
      - run: make check-vendor

  get-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          make get-script
          hack/tree_status.sh
      - run: sudo scripts/get
      - run: crio version
